In [1]:
import pandas as pd
import os
import sqlite3
from sqlite3 import Error

In [3]:
from constants import * 
from utils import *

In [4]:
print(DB_PATH)
print(DB_FILE_NAME)

/home/Assignment/02_training_pipeline/scripts/
lead_scoring_data_cleaning.db

In [5]:
cnx = sqlite3.connect(DB_PATH + DB_FILE_NAME)
df = pd.read_sql(f"SELECT name FROM sqlite_master WHERE type='table'", cnx)
print(df.shape)
df.head()

(4, 1)

                           name
0                   loaded_data
1              city_tier_mapped
2  categorical_variables_mapped
3           interactions_mapped

In [6]:
df = pd.read_sql('select * from interactions_mapped', cnx)
print(df.shape)
df.head()

(238139, 14)

,index,created_date,city_tier,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,app_complete_flag,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,0,2021-07-01 00:08:15,1.0,Level0,Level11,Level2,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0
1,1,2021-07-01 00:16:43,2.0,Level3,Level0,others,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0
2,2,2021-07-01 00:22:20,1.0,Level3,Level0,Level0,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0
3,3,2021-07-01 00:23:13,1.0,Level1,Level3,others,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0
4,4,2021-07-01 00:28:38,1.0,Level3,Level0,Level0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0

In [7]:
encoded_df = df[FEATURES_TO_ENCODE]
encoded_df.head()

  first_platform_c first_utm_medium_c first_utm_source_c
0           Level0            Level11             Level2
1           Level3             Level0             others
2           Level3             Level0             Level0
3           Level1             Level3             others
4           Level3             Level0             Level0

In [8]:
columns = df.columns.to_list()
print(columns)
print(len(columns))

['index', 'created_date', 'city_tier', 'first_platform_c', 'first_utm_medium_c', 'first_utm_source_c', 'total_leads_droppped', 'referred_lead', 'app_complete_flag', 'assistance_interaction', 'career_interaction', 'payment_interaction', 'social_interaction', 'syllabus_interaction']
14

In [9]:
%time
df_new_encoded = pd.get_dummies(df, columns = FEATURES_TO_ENCODE,drop_first=True)

CPU times: user 6 µs, sys: 1e+03 ns, total: 7 µs
Wall time: 19.1 µs

In [10]:
columns = df_new_encoded.columns.to_list()
print(columns)
print(len(columns))

['index', 'created_date', 'city_tier', 'total_leads_droppped', 'referred_lead', 'app_complete_flag', 'assistance_interaction', 'career_interaction', 'payment_interaction', 'social_interaction', 'syllabus_interaction', 'first_platform_c_Level1', 'first_platform_c_Level2', 'first_platform_c_Level3', 'first_platform_c_Level7', 'first_platform_c_Level8', 'first_platform_c_others', 'first_utm_medium_c_Level10', 'first_utm_medium_c_Level11', 'first_utm_medium_c_Level13', 'first_utm_medium_c_Level15', 'first_utm_medium_c_Level16', 'first_utm_medium_c_Level2', 'first_utm_medium_c_Level20', 'first_utm_medium_c_Level26', 'first_utm_medium_c_Level3', 'first_utm_medium_c_Level30', 'first_utm_medium_c_Level33', 'first_utm_medium_c_Level4', 'first_utm_medium_c_Level43', 'first_utm_medium_c_Level5', 'first_utm_medium_c_Level6', 'first_utm_medium_c_Level8', 'first_utm_medium_c_Level9', 'first_utm_medium_c_others', 'first_utm_source_c_Level14', 'first_utm_source_c_Level16', 'first_utm_source_c_Level2', 'first_utm_source_c_Level4', 'first_utm_source_c_Level5', 'first_utm_source_c_Level6', 'first_utm_source_c_Level7', 'first_utm_source_c_others']
43

In [11]:
db_path=DB_PATH
db_file_name=DB_FILE_NAME
one_hot_encoded_features=ONE_HOT_ENCODED_FEATURES
features_to_encode=FEATURES_TO_ENCODE
model_config=MODEL_CONFIG
experiment=EXPERIMENT
tracking_uri=TRACKING_URI

In [12]:
FEATURES_TO_ENCODE

['first_platform_c', 'first_utm_medium_c', 'first_utm_source_c']

In [13]:
encode_features(db_path, db_file_name, one_hot_encoded_features, features_to_encode)

Data has been extracted successfully from lead_scoring_model_experimentation.
input_data has been saved successfully to table features
input_data has been saved successfully to table target
input data has been written successfully to tables features & target

In [14]:
df = pd.read_sql(f"SELECT name FROM sqlite_master WHERE type='table'", cnx)
print(df.shape)
df.head()

(6, 1)

                           name
0                   loaded_data
1              city_tier_mapped
2  categorical_variables_mapped
3           interactions_mapped
4                      features

In [15]:
cnx = sqlite3.connect(db_path + db_file_name)
X = pd.read_sql('select * from features', cnx)
X.head()

,index,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,city_tier,first_platform_c_Level8,first_platform_c_others,first_platform_c_Level2,first_utm_medium_c_others,first_utm_medium_c_Level13,first_utm_medium_c_Level0,first_platform_c_Level7,first_platform_c_Level0
0,0,0,0,0,1.0,1.0,0,0,0,0,0,0,0,1
1,1,0,0,0,1.0,2.0,0,0,0,0,0,1,0,0
2,2,0,0,0,1.0,1.0,0,0,0,0,0,1,0,0
3,3,0,0,0,2.0,1.0,0,0,0,0,0,0,0,0
4,4,0,0,0,1.0,1.0,0,0,0,0,0,1,0,0

In [16]:
y = pd.read_sql('select * from target', cnx)
y.head()

   index  app_complete_flag
0      0                  1
1      1                  1
2      2                  1
3      3                  0
4      4                  0

In [27]:
def create_sqlit_connection(db_path, db_file):
    """ create a database connection to a SQLite database """
    conn = None
    # opening the conncetion for creating the sqlite db
    try:
        conn = sqlite3.connect(db_path + db_file)
        print(sqlite3.version)
    # return an error if connection not established
    except Error as e:
        print(e)
    # closing the connection once the database is created
    finally:
        if conn:
            conn.close()

In [32]:
create_sqlit_connection(db_path,r"Lead_scoring_mlflow_production.db")

2.6.0

In [33]:
mlflow.set_tracking_uri("http://0.0.0.0:6006")

In [34]:
get_trained_model(db_path, db_file_name, model_config, experiment,tracking_uri)

/opt/conda/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
Successfully registered model 'LightGBM'.
2024/11/06 06:29:13 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: LightGBM, version 1
Created version '1' of model 'LightGBM'.

get_trained_model has been executed successfully.